.comment-window {
  position: fixed;
  width: 400px;
  height: 400px;
  bottom: 0;
  left: 24px;
  background-image: url(../assets/comment-icon.svg);
  background-position: center;
  background-size: cover;
  padding: 60px 60px 138px;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
